<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Gestion de Hospitales</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg sticky-top bg-primary p-4" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <i class="fa fa-h-square" aria-hidden="true"></i>Inicio
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="btn">@Html.ActionLink("Hospitales", "Index", "Hospital", null, new { @class = " nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Pacientes", "Index", "Pacientes", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Medicos", "Create", "Medicos", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Citas", "Create", "Citas", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Historiales Medicos", "Details", "Pacientes", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Pagos", "TotalPagosCliente", "Pagos", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Inventarios", "Inventario", "Hospital", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Registrar Medicamentos", "RegistroMedicamentos", "Hospital", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                        <li class="btn">@Html.ActionLink("Prescripciones", "RealizarPrescripciones", "Hospital", null, new { @class = "nav-link text-decoration-none text-white" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

        <div class="container body-content pt-3">
            @RenderBody()
            <hr />
            <footer class="text-center text-muted">
                <p>&copy;  III Cuatrimestre, @DateTime.Now.Year - Proyecto Final Base de Datos II | <strong>Estudiante:</strong> Paul Anthony López Sandi</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
